body {
    background-color: #ececee;
}

.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid red;
    background-color: white;
}

.square {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.clear-button {
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
}

#sizeSlider {
    font-size: 24px;
    margin-top: 20px;
    border: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}