* {
    box-sizing: border-box;
}

body {
    background-color: #40686A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.canvas-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    color: #915C4C;
    text-align: center;
    -webkit-text-stroke: 2px #2F1812;
}

.container {
    display: grid;
    border: 1px solid white;
    background-color: white;
    --d: 30px;
    height: 500px;
    border-radius: 0 var(--d);
    corner-shape: bevel;
    border-right: var(--d) solid #0004;
    border-bottom: var(--d) solid #0008;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: fit-content;
}

#clear-button,
#rainbowButton,
#eraser,
#color-button {
    font-size: 15px;
    border-radius: 5px;
    background-color: #915C4C;
    font-weight: bold;
    border-radius: 10px;
    color: #2F1812
}

#sizeSlider {
    font-size: 24px;
    margin-top: 20px;
    border: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;

}

#sizeValue {
    font-size: 36px;
    font-weight: bold;
    color: #b78338;
    -webkit-text-stroke: 1px #2F1812;
    gap: 20px;
}